.hero {
  background-color: #ffffff;
  width: 550px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.grid {
  margin-top: 50px;
  height: 232px;
  /* max-width: 100px; */
}

.info {
  margin: 25px 0 30px 20px;
}
